
{% block bfos_cidade_choice_widget %}

<div {{ block('widget_container_attributes') }}>
{% for child in form %}
    <div id="{{ id ~ "_" ~ child.get('name') }}">
        {{ form_widget(child) }}
        {% if child.get('name') == 'estado' %}
        <span class="help-block">Cidade</span>
        {% endif %}
        {% if child.get('name') == 'cidade' %}
        <img id="{{ id ~ "_loader" }}" src="{{asset('bundles/bfosbrasil/images/ajax-loader.gif')}}" alt="ajax-loader" style="display: none; ">
        {% endif %}
        {{ form_errors(child) }}
    </div>
{% endfor %}
</div>

<script type="text/javascript">
require(['jquery'], function($){

    jQuery(document).ready(function($){

        var {{ id ~ "_estado" }}_loaded = false;
        {% if value.cidade is defined %}
        var {{ id ~ "_estado" }}_load_cidade = {{value.cidade}};
        {% else %}
        var {{ id ~ "_estado" }}_load_cidade = false;
        {% endif %}
        $("#{{ id ~ "_estado" }}").change( function() {
            var uf = $(this).find('select').val();
            if({{ id ~ "_estado" }}_loaded == true || uf != '0' ){
                $("#{{ id ~ "_loader" }}").show();
                $.ajax({
                    type: "GET",
                    data: "uf=" + uf,
                    url:"{{ path('bfos_brasil_cidades_busca') }}",
                    success: function(data){
                        if (data != ''){
                            $("#{{ id ~ "_cidade" }}").find('select').html(data).show();
                            $("#{{ id ~ "_loader" }}").hide();
                            if({{ id ~ "_estado" }}_load_cidade){
                                $("#{{ id ~ "_cidade" }}").find('select').val({{ id ~ "_estado" }}_load_cidade);
                                {{ id ~ "_estado" }}_load_cidade = false;
                            }
                        }
                        else
                        {
                            $("#{{ id ~ "_cidade" }}").html('<em>Sem resultados</em>');
                            $("#{{ id ~ "_loader" }}").hide();
                        }
                    }
                });
            }
            {{ id ~ "_estado" }}_loaded = true;
        });

        $("#{{ id ~ "_estado" }}").trigger('change');
    });

});
</script>

{% endblock bfos_cidade_choice_widget %}


{% block bfos_brasil_cidade_entity_widget %}
{% spaceless %}
    <select {{ block('widget_attributes') }}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_options') }}
    </select>
{% endspaceless %}
{% endblock bfos_brasil_cidade_entity_widget %}
